[Unit]
Description=AirController
After=network.target
[Service]
ExecStart=/home/pi/AirController/run.sh
Restart=always
User=pi
[Install]
WantedBy=default.target