[Unit]
Description=AirController
After=network.target
[Service]
ExecStart=/bin/sh -c 'export weather_api_key=<key>; export qingping_app_secret=<secret>; sh /home/pi/AirController/run.sh'
[Install]
WantedBy=default.target