<div style="text-align: center; margin-top: 50px; font-family: sans-serif;">
  <h1>Fresh Air System</h1>

  <div [ngClass]="{'status-on': airStatus === 'ON', 'status-off': airStatus === 'OFF'}"
       class="status-display">
    {{ airStatus }}
  </div>
  @if (dataPoint) {
    <div class="sensor-values">
      <h3>Environment Readings</h3>
      <p>Temperature: <strong>{{ dataPoint.temperatureInCelsius | number:'1.1-1' }}°C</strong></p>
      <p>Humidity: <strong>{{ dataPoint.relativeHumidity | number:'2.1-1' }}%</strong></p>
      <p>CO2: <strong>{{ dataPoint.co2InPpm | number:'2.0-0' }}ppm</strong></p>
    </div>
  } @else {
    <div class="loader">
      <p>Fetching data from server...</p>
    </div>
  }
  @if (confidences) {
    <div class="confidences">
      <h3>The total confidence for on is {{ totalConfidence | number:'1.1-2' }}:</h3>
      @for (key of Object.keys(confidences); track key) {
        <div>
          {{ key }}: {{ confidences[key] | number:'1.1-2' }}
        </div>
      } @empty {
        <p>No confidence data available.</p>
      }
    </div>
  } @else {
    <div class="loader">
      <p>Fetching data from server...</p>
    </div>
  }
  <button (click)="refresh()">Update Status</button>
</div>
