<div class="dashboard-container">
  <header class="header-content">
    <img ngSrc="assets/Logo.png" alt="Logo" class="logo" height="1024" width="1024">
    <h1>Fresh Air System</h1>
  </header>

  @if (viewModel(); as data) {
    <div>{{ data.systemCardViews.info }}</div>
    <section class="card-grid">
      @for (card of data.systemCardViews.cards; track card.name) {
        <app-metric-card
          [label]="card.name"
          [value]="card.value"
          [unit]="card.unit"
          (click)="setSystemGraphProfile('airflow')"
        />
      } @empty {
        <p>No cards found in dies Group.</p>
      }
    </section>
    @if (systemGraphProfile(); as systemMetric) {
      <div class="profile-section">
        <graph-chart-component
          [measuredValueInput]="systemMetric"
          [location]="'system'">
        </graph-chart-component>
      </div>
    }

    <h3>Indoor Sensors</h3>
    <div>{{ data.indoorCardViews.info }}</div>
    <section class="card-grid">
      @for (card of data.indoorCardViews.cards; track card.name) {
        <app-metric-card
          [label]="card.name"
          [value]="card.value"
          [unit]="card.unit"
          (click)="setIndoorGraphProfile(card.name)"
        />
      } @empty {
        <p>No cards found in dies Group.</p>
      }
    </section>
    @if (indoorGraphProfile(); as indoorMetric) {
      <div class="profile-section">
        <graph-chart-component
          [measuredValueInput]="indoorMetric"
          [location]="'indoor'">
        </graph-chart-component>
      </div>
    }

    <h3>Outdoor Sensors</h3>
    <div>{{ data.outdoorCardViews.info }}</div>
    <section class="card-grid">
      @for (card of data.outdoorCardViews.cards; track card.name) {
        <app-metric-card
          [label]="card.name"
          [value]="card.value"
          [unit]="card.unit"
          (click)="setOutdoorGraphProfile(card.name)"
        />
      } @empty {
        <p>No cards found in dies Group.</p>
      }
    </section>
    @if (outdoorGraphProfile(); as outdoorMetric) {
      <div class="profile-section">
        <graph-chart-component
          [measuredValueInput]="outdoorMetric"
          [location]="'outdoor'">
        </graph-chart-component>
      </div>
    }

    <h3>Confidence</h3>
    <div>{{ data.confidenceCardViews.info }}</div>
    <section class="card-grid">
      @for (card of data.confidenceCardViews.cards; track card.name) {
        <app-metric-card
          [label]="card.name"
          [value]="card.value"
          [unit]="card.unit"
        />
      } @empty {
        <p>No cards found in dies Group.</p>
      }
    </section>

    <h3>Statistics</h3>
    <div>{{ data.statisticsCardViews.info }}</div>
    <section class="card-grid">
      @for (card of data.statisticsCardViews.cards; track card.name) {
        <app-metric-card [label]="card.name" [value]="card.value" [unit]="card.unit"/>
      } @empty {
        <p>No cards found in dies Group.</p>
      }
    </section>
  } @else {
    <div class="loader">
      <p>Fetching climate data... Please wait.</p>
    </div>
  }

  <button class="refresh-btn" (click)="refresh()">Update Status</button>
  <button class="refresh-btn">On 15m</button>
  <button class="refresh-btn">Off 15m</button>
  <override-airflow-state></override-airflow-state>
</div>

<style>

</style>
