version: '3.8'

services:
  air-controller-backend:
    build:
      context: ./air-controller-backend
      dockerfile: Dockerfile
    image: air-controller-backend-java25:latest
    container_name: air-controller-backend
    environment:
      - weather_api_key=${weather_api_key}
      - qingping_app_secret=${qingping_app_secret}
      - mariaDdPassword=${mariaDdPassword}
    volumes:
      - ./air-controller-backend/AirController-1.2-SNAPSHOT.jar:/app/AirController.jar
      - ./air-controller-backend/log:/app/log
    networks:
      - aircontroller-network
    ports:
      - "9090:9090"
    restart: unless-stopped
  air-controller-frontend:
    build:
      context: ./air-controller-frontend
      dockerfile: Dockerfile
    image: air-controller-frontend:latest
    container_name: air-controller-frontend
    ports:
      - "8085:80"
    networks:
      - aircontroller-network
    depends_on:
      - air-controller-backend
    restart: unless-stopped

networks:
  aircontroller-network:
    driver: bridge