<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Properties>
    <Property name="LOG_PATTERN">
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%p] %m%n
    </Property>
</Properties>
<Appenders>
    <RollingFile
            name="roll-by-size"
            fileName="log/airControllerTest.log"
            filePattern="log/airController.%i.log.gz"
            ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <OnStartupTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="1000 KB" />
        </Policies>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
</Appenders>
<Loggers>
    <Logger name="org.airController" level="trace">
        <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
        <AppenderRef ref="roll-by-size"/>
    </Root>
</Loggers>
</Configuration>