<?xml version="1.0" encoding="UTF-8"?>
<Configuration
        status="INFO"
        name="airController"
        packages="">
    <Properties>
        <Property name="airController">log</Property>
    </Properties>

    <Appenders>
        <RollingFile
                name="roll-by-size"
                fileName="log/airController.log"
                filePattern="log/airController-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="roll-by-size"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>