version: '3.8'

services:
  air-controller-backend:
    build: .
    container_name: air-controller-java25-backend
    environment:
      - weather_api_key=${weather_api_key}
      - qingping_app_secret=${qingping_app_secret}
      - mariaDdPassword=${mariaDdPassword}
    volumes:
      - ./AirController-1.2-SNAPSHOT-jar-with-dependencies.jar:/app/AirController.jar
      - ./log:/app/log
    networks:
      - default
    ports:
      - "8080:8080"
    restart: unless-stopped
  air-controller-frontend:
    build: .
    image: air-controller-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - air-controller-java25-backend
    restart: unless-stopped